<!DOCTYPE HTML>
<html>
<head>
	<script src="../jquery/jquery-1.9.1.min.js"></script>
	<script src="../jquery/jquery.mobile-1.3.1.min.js"></script>
	<script type="text/javascript" src="../model/buscaProduto.js"></script>

	<link rel="stylesheet" href="../jquery/jquery.mobile-1.3.1.min.css" type="text/css">

	<title>consultaProduto</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div data-role="page" id="menu">
		<div data-role="header"><h1>Menu</h1></div>
		<div data-role="content">
			<ul data-role="listview" data-inset="true" data-filter="true">
				<li><a href="#frmConsultaProduto">Pesquisa de Produtos</a></li>
				<li>Histórico de Pedido</li>
			</ul>
		</div>
	</div>
	
	<div data-role="page" id="frmConsultaProduto" data-add-back-btn="true" data-back-btn-text="Back">
		<div data-role="header">
			<h1>Produtos</h1>
		</div>
		<div data-role="content">
			<label for="text-basic">Código do Produto:</label>
			<input type="text" id="txtCodigoProduto">
			 
			<input type="button" value="Pesquisar" onclick="pesquisar()" data-icon="search" data-theme="b">
			
			<label for="text-basic">Descrição do Produto:</label>
			<input type="text" id="txtDescricao" readonly="readonly">
		</div>
		
		<div data-role="footer">
			<h6>FIAP Roupas</h6>
		</div>
	</div>
</body>
</html>